# Homework folder
HW_Week*

# Create when run docker
minio/
mysql/
mysql_data/
postgresql/
postgres_data/

# Dagster when run dev
.tmp_dagster*

# Dagster when run local
.logs_queue/
.nux/
.telemetry/
history/
schedules/

# Data
data/

# Others
*.zip
__pycache__/